input[type=text]
 {
    width:25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
input[type=date]
 {
    width:25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

  .col-25 {
    float: left;
    width: 22%;
    margin-top: 6px;
    font-weight:bold;
    font-size: 18px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  