
        img {
            border-radius: 50%;
            float: left;
            border-color:red;
            border-style:dotted;
            margin: 10px;

        }

        .Heading {
            color: black;
            font-family: Calibri;
            font-size: 22px;

        }

        .Heading1 {
            color: red;
            font-family: Calibri;
            font-size: 22px;
            text-align: left;
            margin: 10px;
            text-decoration: underline;

        }

        .Paragraph {
            font-family: Calibri;
            font-size: 17px;
            text-align: left;
            margin: 10px;
        }

        table {
            border-collapse: collapse;
            margin: 10px;

        }

        table,
        td,
        th {
            border: 1px solid black;
            height: 40px;
            text-align: center;
            margin: 10px;
        }

        table1,
        td,
        th {
            font-family: Calibri;
            font-size: 17px;
            text-align: left;
            margin: 10px;
        }

        ul li {

            font-family: Calibri;
            font-size: 17px;
            text-align: left;
        }

        body {
            background-image: url("1.jpg");
            border-style:double;
            border-color:red;
        }

        .Box-model
        {
           background-color:yellow;
           border-color:red;
           border-style:dotted;
           border-width:2px;
           font-family: Calibri;
           font-size: 20px;
           padding:10px;
           margin: 10px;

        }
        .Animation {
            position: relative;
            animation-name: example;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
          